
.container{
  display: flex;
  margin: 5rem 0 1px 0;
  justify-content: center;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(233, 227, 227);
}

@media only screen and (max-width: 800px) {
  .section{
      margin: 0 0 1rem 0; 
  }
  .container{
  display: flex;
  margin: 0 0 2px 0;
  font-size: 0.5rem;
  //justify-content: center;
  //justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .onlinewear{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(185, 168, 168);
}
.content{
  margin: 0.2rem -0.4rem;
}
.h1{
  padding-top: 1.1rem;
}
  }

.content{
  padding: 5px 10px;
}

.img{
  margin-top: 27px;
  margin-left: -1px;
}

.h1{
  margin-left: 45px;
    margin-top: -46px;
    font-size: revert;
    font-family: cursive;
}

.content h4{
  font-family: serif;
  font-size: larger;
  margin-left: -3px;
}

.onlinewear{
  flex-direction:column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgb(185, 168, 168);
}